

-webkit-box-sizzing:border-box;
-moz-box-sizzing:border-box;
box-sizzing:border-box;
}	
.contenedor{
	width:95%;
	max-width: 1000px;
	margin: auto;
}
.contenedor p {
	margin-bottom: 40px;

}
header nav {
	background:#00BCD4;
	margin-bottom: 10px;
	-webkit-transition:all ease .5s;
	-o-transition:all ease .5s;
	transition:all ease .5s;
}
header nav ul {
	list-style: none;
	overflow: hidden;

}
header nav ul li {
	float:left;
}
header nav ul li a {
	display:block;
	padding:20px;
	color:#000000
;
	text-decoration: none;
}
header nav ul li a :hover{
	background:#2c3e50;
	padding:10px 30px;
}
.menu-fixed{
	position:fixed;
	z-index: 1000;
	top:0;
	left:0;
	width:100%;
	/*max-width: 1000;*/
}
.menu-fixed ul li a {
	padding:15px 20px;

}

